FINTA_DB_CONNECTION=Host=postgres;Port=5432;Database=asset_tracker;Username=postgres;Password=postgres

FINTA_BASE_URL=https://platform.fintacharts.com/
FINTA_WSS_URL=wss://platform.fintacharts.com
FINTA_USER=r_test@fintatech.com
FINTA_PASS=kisfiz-vUnvy9-sopnyv
FINTA_REALM=fintatech
FINTA_CLIENT_ID=app-cli