ConnectionStrings__Default=Host=db;Port=5432;Database=asset_tracker;Username=postgres;Password=postgres

Fintacharts__BaseUrl=https://platform.fintacharts.com/
Fintacharts__WssUrl=wss://platform.fintacharts.com
Fintacharts__Username=r_test@fintatech.com
Fintacharts__Password=kisfiz-vUnvy9-sopnyv
Fintacharts__Realm=fintatech
Fintacharts__ClientId=app-cli